@import "../../../scss/variables";

.menu-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    color: $font-light;

    &:hover {
      color: $primary-color;
    }

    &:focus,
    &:active {
      color: $font-light;
    }
  }

  &__left {
    &-logo {
      width: 200px;
      padding: 0 10px;
    }
  }
}
